
#board-background-holder 
  %img{class: "logo-holder-about", :src => "assets/IBR_logo.png"}

  .board-members
    .board-member 
      .row
        .profile_pic.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Lauren Zakarian-Cogswell
          .position 
            Editor-in-Chief
          .bio
            Lauren is a junior concentrating in Finance at Wharton School and studying Art History in the College. She has been involved with the publication since her freshman year.Outside of IBR, Lauren has conducted research for the Lauder Institute and has taken part in an on-campus consulting group working with small businesses in Philadelphia. In her spare time, Lauren enjoys watching foreign films, museum-hopping and horseback riding.
    .board-member 
      .row
        .profile_pic2.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            David Hirschy 
          .position 
            Managing Editor
          .bio
            David is in the Wharton Class of 2016, intending to concentrate in Finance and OPIM. As Managing Editor, David is responsible for all written content and is instrumental in steering the creative direction of the magazine. He is further involved at Penn as VP Cohort Shekel, a board member of the Wharton Alliance, a Parliamentary debater, and on the Penn Equestrian Team.
    .board-member 
      .row
        .profile_pic3.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            James Calvo 
          .position 
            Advising Editor
          .bio
            James is a Wharton junior studying Finance and OPIM, and served as Editor-in-Chief in the 2012-13 academic year. He is currently an advising editor while abroad at Copenhagen Business School. His interests include technology, American public policy and photography. Outside of IBR, James is a board member of the Wharton Alliance, a photographer for Penn Admissions, and a consultant for the Wharton Innovation Fund.
    .board-member 
      .row
        .profile_pic4.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Shana Mansbach  
          .position 
            Editor
          .bio
            Shana is a senior studying Philosophy, Politics, and Economics. Shana has served as an editor since fall of 2011. Her particular areas of interest include Turkish foreign policy and the political economy of Scandinavia. Outside of IBR, Shana is involved with the PPE Undergraduate Advisory Board, Critical Writing Center and Knowledge@Wharton.
    .board-member 
      .row
        .profile_pic5.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Allison Collins   
          .position 
            Editor
          .bio
            Allison is a junior in the Huntsman Program concentrating in OPIM and Finance at Wharton and majoring in International Studies in the College, with a minor in Comparative Literature. She serves as an editor for IBR and also occasionally contributes as a writer. Outside of IBR, Allison works as a tutor in the writing center, as a research assistant on Penn GSE’s Semillas Digitales project, and is involved with Wharton Europe and the International Affairs Association. She enjoys running and practicing yoga in her spare time.
    .board-member 
      .row
        .profile_pic6.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Tiffany Tzeng    
          .position 
            VP Finance & Corporate Sponsorship
          .bio
            Tiffany is a junior from Long Island, New York. At Wharton, she plans on concentrating in Marketing and Finance. In addition to being on IBR, she is also a member of the Penn Fashion Week executive board and Delta Sigma Pi business fraternity. Founder of globally inspired lifestyle magazine, I AM New York, she is a media aficionado and virtual globetrotter. She enjoys jazz fusion, brunch, crime dramas, and inspiring stories.
    .board-member 
      .row
        .profile_pic7.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Matheus Lara    
          .position 
            VP Information Technology 
          .bio
            Matheus is a junior concentrating in Finance and Operations Management at the Wharton School. He is responsible for managing the magazine’s back office IT operations and solutions. Outside of IBR, he is a teaching assistant for the OPIM department and an IT Project specialist for the MGMT department. His areas of interests include modern architecture, molecular gastronomy, and rock climbing
    .board-member 
      .row
        .profile_pic8.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Rachel Fleszar    
          .position 
            VP Distribution
          .bio
            Rachel is a junior concentrating in Finance, Accounting, and Operations & Information Management in the Wharton School with a minor in Math in the College. Outside of IBR, she is Captain of the Penn Equestrian Team, President of the Wharton Supply Chain Organization, and an Executive Board Member of Community School Student Partnerships. 
    .board-member 
      .row
        .profile_pic9.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Yamini Nabar  
          .position 
            VP Subscriptions
          .bio
            Yamini is a senior in the College majoring in Economics and Political Science with a minor in Mathematics. Her role as the VP of Subscriptions entails managing and enlarging IBR’s current subscriber base. Outside of IBR, she is involved in the Wharton Politics & Business Association, the Nominations & Elections Committee, and Penn Green Acorn Environmental Consulting. 
    .board-member 
      .row
        .profile_pic10.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Becca Friedemann     
          .position 
            Head Designer
          .bio
            Becca is a junior studying Philosophy, Politics, and Economics in the College and minoring in Legal Studies and History in Wharton. She has been involved with IBR since her freshman year. Beyond IBR, Becca volunteers as a kindergarten teacher and after-school mentor in West Philadelphia. In her spare time, Becca enjoys long-distance running, reading Stephen King novels, and cooking.
    .board-member 
      .row
        .profile_pic11.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Emily Weiss 
          .position 
            Head Copy Editor
          .bio
            Emily is a junior in SEAS, studying computer science. Outside of IBR, she has been involved in copy editing since middle school and is also a Teaching Assistant for computer science theory classes. Her favorite things include running in the rain, long bike rides, animal crackers and proper comma usage.



