- content_for :head do
  = stylesheet_link_tag 'board'

#board-background-holder 
  
  #logo-holder-board
    %img{:src => "assets/IBR_logo.png"}


  .board-members
    .board-member 
      .row
        .profile_pic.profile_pic_lauren.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Lauren Zakarian-Cogswell
          .position 
            Editor-in-Chief
          .bio
            Lauren is a senior concentrating in Finance at Wharton School and studying Art History in the College. She has been involved with the publication since her freshman year. Outside of IBR, Lauren has conducted research for the Lauder Institute and has taken part in an on-campus consulting group working with small businesses in Philadelphia. In her spare time, Lauren enjoys watching foreign films, museum-hopping and horseback riding.
    .board-member 
      .row
        .profile_pic.profile_pic_david.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            David Hirschy 
          .position 
            Managing Editor
          .bio
            David is a junior in the Wharton School, concentrating in Finance and OPIM. As Managing Editor, David is responsible for all written content and is instrumental in steering the creative direction of the magazine. He is further involved at Penn as VP Professional Development of the Wharton Alliance, a Parliamentary debater, and as Social Chair of the Penn Equestrian Team. 
    .board-member 
      .row
        .profile_pic.profile_pic_vivianna.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Vivianna Lin
          .position 
            Online Managing Editor
          .bio
            Vivianna is a sophomore in Wharton concentrating in Finance. She loves publication and currently serves as Online Managing Editor to spearhead IBR’s online presence. Outside of IBR, Vivianna is involved with the Wharton Undergraduate Consulting Club, the Wharton Investment and Trading Group, and is a pianist in a Penn Chamber Ensemble. Playing tennis, traveling the world, dancing, reading, and baking are among her favorite things to do.
    .board-member 
      .row
        .profile_pic.profile_pic_katie.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Katie Shao 
          .position 
            VP Design
          .bio
            Katie is a junior concentrating in Finance and Marketing in the Wharton School and pursuing a minor in History in the College. Within IBR, she is responsible for overseeing all design aspects of the magazine. Outside of IBR, Katie works with Penn Enactus to develop aspiring female entrepreneurs in the Philadelphia area, performs with Penn Chinese Music Society, and is a Special Events Assistant for Wharton External Affairs. In her spare time, Katie enjoys British dramas, attending concerts, and coffee-sipping with friends.
    .board-member 
      .row
        .profile_pic.profile_pic_rachel.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Rachel Fleszar    
          .position 
            VP Finance
          .bio
            Rachel is a senior concentrating in Finance, Accounting, and Operations & Information Management in the Wharton School with a minor in Math in the College. Outside of IBR, she is Captain of the Penn Equestrian Team.
    .board-member 
      .row
        .profile_pic.profile_pic_matheus.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Matheus Lara    
          .position 
            VP Operations & Internal Affairs
          .bio
            Matheus is a senior concentrating in Finance and Operations Management at the Wharton School. He is responsible for managing the magazine’s back office IT operations and solutions. Outside of IBR, he is a teaching assistant for the OPIM department and an IT Project specialist for the MGMT department. His areas of interests include modern architecture, molecular gastronomy, and rock climbing.
    .board-member 
      .row
        .profile_pic.profile_pic_fritz.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Fritz Claessens    
          .position 
            VP Business Development 
          .bio
            Fritz is a sophomore planning to concentrate in Finance, Business Economics and Public Policy and Statistics. Fritz is responsible for managing IBR’s Business Team and pursuing new sponsorship opportunities to fund the magazine. Outside of IBR, Fritz is involved in the VP of Travel for Wharton Europe, the Wharton Supply Chain Organization and is a member of Wharton’s Communications Advisory Board.  He loves photography and traveling.
    .board-member 
      .row
        .profile_pic.profile_pic_gabby.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Gabby Zacarias 
          .position 
            Director Marketing
          .bio
            Gabriella is a junior concentrating in OPIM and Marketing in The Wharton School. As Marketing Director, she uses social media platforms to advertise IBR's new issues, launch parties, and relevant current events. Outside of IBR, Gabriella is on the Executive Board of the Entrepreneurship Club and is involved in both MUSE and The Walk. In her spare time, she enjoys running, yoga, and surfing. 
    .board-member 
      .row
        .profile_pic.profile_pic_emily.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Emily Weiss 
          .position 
            Director Copy Editing
          .bio
            Emily is a junior in SEAS, studying computer science. Outside of IBR, she has been involved in copy editing since middle school and is also a Teaching Assistant for computer science theory classes. Her favorite things include running in the rain, long bike rides, animal crackers and proper comma usage.
    .board-member 
      .row
        .profile_pic.profile_pic_justin.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Justin Kim
          .position 
            Web Designer / Web Developer
          .bio 
            Justin is a sophomore in the Life Sciences and Management Program concentrating in Healthcare Management and Statistics in Wharton and majoring in Computational Biology in the College. He helps maintain the function and content of the IBR website. Outside of IBR, he is a member of MERT, and he does biology research in the Gregory Lab. He enjoys watching movies and running.
    .board-member 
      .row
        .profile_pic.profile_pic_allison.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Allison Collins  
          .position 
            Editor
          .bio
            Allison is a senior in the Huntsman Program concentrating in OPIM and Finance at Wharton and majoring in International Studies in the College, with minors in Comparative Literature and Italian Literature. She serves as an editor for IBR and also occasionally contributes as a writer. Outside of IBR, Allison works as a tutor in the writing center and serves as Director-General for Penn’s high school Model United Nations Conference, ILMUNC. She enjoys running and practicing yoga in her spare time.
    .board-member 
      .row
        .profile_pic.profile_pic_lili.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Lili Peng  
          .position 
            Editor
          .bio
            Lili is a senior in Wharton concentrating in Finance and Operations and Information Management. She serves as an editor and occasionally as a contributing writer. Outside of IBR, Lili has conducted behavioral economics research, is a member of the Penn Parliamentary Debate team, and enjoys yoga and rock climbing. 
    .board-member 
      .row
        .profile_pic.profile_pic_gabriel.small-12.large-2.columns
        .info.small-12.large-10.columns
          .name
            Gabriel Ferrante 
          .position 
            Editor
          .bio
            Gabriel is a sophomore in the College of Arts and Sciences majoring in Biochemistry and Philosophy. He is an editor and contributing writer to IBR. In addition to his work with IBR, he is an actor and director in the Underground Shakespeare Company and the treasurer of Penn’s poetry collective, The Body Electric. His research in biochemistry focuses on Mitochondrial Respiratory Complex I. In his spare time, he enjoys reading, cooking, and playing the piano. 
