#logo-holder
  %img{:src => "assets/IBR_logo.png"}

#slides
  %img{:src => "assets/Homepage Images 1.jpg"}
  %img{:src => "assets/Homepage Images 2.jpg"}
  %img{:src => "assets/Homepage Images 3.jpg"}
  %img{:src => "assets/Homepage Images 4.jpg"}
  %img{:src => "assets/Homepage Images 5.jpg"}
  %img{:src => 'assets/Homepage Images 6.jpg'}