<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'slides' %>
<% end %>

<div id='logo-holder'>
  <a href="/">
    <div id='logo-container'>
      <img id='blog-logo' src='assets/IBR_logo.png'>
    </div>
  </a>
</div>

<div id='slides'>
  <% (1..6).each do |num| %>
    <img class='background-img' src="assets/Homepage Images <%= num %>.jpg">
  <% end %>
</div>

<div id='arrow'>
  <img src="assets/Arrow.png">
</div>

<div id='post-index'>
  <h1 id='post-index-title'>ONLINE</h1>
  <%= render 'posts/posts_index' %>
</div>
