<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'slides' %>
<% end %>

<div id='logo-holder'>
  <img src='assets/IBR_logo.png'>
</div>

<div id='slides'>
  <% (1..6).each do |num| %>
    <img src="assets/Homepage Images <%= num %>.jpg">
  <% end %>
</div>

<div id='post-index'>
  <h1 id='post-index-title'>ONLINE</h1>
  <%= render 'posts/posts_index' %>
</div>