
#logo-holder
  %img{:src => "assets/IBR_logo.png"}

#slides
  %img{:src => "assets/Homapage Images 1.jpg"}
  %img{:src => "assets/Homapage Images 2.jpg"}
  %img{:src => "assets/Homapage Images 3.jpg"}
  %img{:src => "assets/Homapage Images 4.jpg"}
  %img{:src => "assets/Homapage Images 5.jpg"}
  

