
#logo-holder
  %img{:src => "assets/IBR_logo.png"}
  

#slides
  %img{:src => "assets/Website_HomepageImages3.jpg"}
  %img{:src => "assets/Website_HomepageImages4.jpg"}
  %img{:src => "assets/Website_HomepageImages5.jpg"}
  %img{:src => "assets/Website_HomepageImages.jpg"}
  %img{:src => "assets/Website_HomepageImages2.jpg"}