
#logo-holder
  %img{:src => "assets/IBR_logo.png"}
  
#ibr
  International Business Review

#slides
  %img{:src => "assets/city.jpg"}
  %img{:src => "assets/boston.jpg"}
  %img{:src => "assets/chicago.jpg"}
  %img{:src => "assets/philly-low.jpg"}
  %img{:src => "assets/miami.jpg"}