
#logo-holder
  %img{:src => "assets/IBR_logo.png"}
  

#slides
  %img{:src => "assets/Home_1.jpg"}
  %img{:src => "assets/Home_2.jpeg"}
  %img{:src => "assets/Home_3.jpeg"}
  %img{:src => "assets/Home_4.jpg"}
  %img{:src => "assets/Home_5.jpg"}
  

