<div id='image-holder-online'>
  <div id='dark-gray-layer'>
    <div id='blog-header'>
      <img id='blog-logo' src="/assets/IBR_logo.png">
    <%= render 'home/admin_login' %>
    </div>

    <div class='column' id='stories'>
      <h2 class='column-title content'>STORIES</h2>
      <%= render 'home/posts', posts: @stories %>
    </div>

    <div class='column' id='features'>
      <h2 class='column-title content'>FEATURES</h2>
      <%= render 'home/posts', posts: @features %>
    </div>

    <div class='column' id='editor-notes'>
      <h2 class='column-title content'>EDITOR'S NOTES</h2>
      <%= render 'home/posts', posts: @editor_notes %>
    </div>
  </div>
</div>