<% posts.each do |post| %>
  <div class='column-body'>
    <a href="<%= post_path(post) %>" class='post-preview'><p class='title'><%= post.title %></p>
    <p class='body post-content'><%= post.preview %></p></a>
    <%= render 'posts/edit_delete', post: post %>
  </div>
  <br>
<% end %>
