<div id='image-holder-post-index'>
  <div id='dark-gray-layer'>
    <div id='blog-header'>
      <img id='blog-logo' src="/assets/IBR_logo.png">
      <%= render 'home/admin_login' %>
    </div>

    <div class='column' id='stories'>
      <h2 class='column-title content'>STORIES</h2>
      <%= render 'posts/posts', posts: @stories unless @stories.empty? %>
    </div>

    <div class='column' id='features'>
      <h2 class='column-title content'>FEATURES</h2>
      <%= render 'posts/posts', posts: @features unless @features.empty? %>
    </div>

    <div class='column' id='editor-notes'>
      <h2 class='column-title content'>EDITOR'S NOTES</h2>
      <%= render 'posts/posts', posts: @editor_notes unless @editor_notes.empty? %>
    </div>
  </div>
</div>