<div id='image-holder-post-form'>
  <div id='dark-gray-layer'>
    <div id='blog-header'>
      <img id='blog-logo' src="/assets/IBR_logo.png">
      <%= render 'home/admin_login' %>
    </div>

    <h1 id='post-form-title'>New Post</h1>

    <%= render 'form' %>

  </div>
</div>