@import 'colors'; 
#board-background-holder{
  background-image: url("board_background.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding: 2% 5% 5%;
}

#logo-holder-board{
  z-index: 100;
  width: 15%;
  height: 100%;
  color: $red;
  margin: 0;
}

.board-member{
  width: 80%;
  height: 10%;
  padding: 10px;
  background-color: rgba(24, 40, 40, 0.6);
  z-index: 1;
  margin-top: 20px;
}

.profile_pic{
  height: 160px;
  background-size: cover;
  display: inline-block;
}

.profile_pic_lauren{
  background-image: url("Lauren Cogswell.jpg");
}


.profile_pic_david{
  background-image: url("David Hirschy.jpg");
}


.profile_pic_katie{
  background-image: url("Katie Shao.jpg");
}

.profile_pic_allison{
  background-image: url("Allison Collins.jpg");
}

.profile_pic_matheus{
  background-image: url("Matheus Pereira.jpg");
}

.profile_pic_rachel{
  background-image: url("Rachel Fleszar.jpg");
}

.profile_pic_emily{
  background-image: url("Emily Weiss.jpg");
}

.profile_pic_lili{
  background-image: url("lili portrait.jpg");
}

.profile_pic_gabby{
  background-image: url("gabby headshot.jpg");
}

.profile_pic_vivianna{
  background-image: url("Vivianna Portrait.jpg");
}

.profile_pic_justin{
  background-image: url("Justin_Kim_Headshot_Grayscale.jpg");
}

.profile_pic_fritz{
  background-image: url("Fritz_Claessens.jpg");
}

.profile_pic_gabriel{
  background-image: url("Gabriel_Ferrante.jpeg"); 
}

.info{
  margin-top: 10px;
  display: inline-block;
}
.board-members{
  position: relative;
  z-index: 1;
  left: 7%;
  width: 90%;
  margin: 0 auto;
}

.name{
  color: $red;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.position{
  color: white;
  font-size: 0.8em;
  padding-bottom: 7px;
}

.bio{
  color: white;
  font-size: 0.8em;
}
