@import 'colors'; 
#board-background-holder{
  background-image: url("board_background.jpg");
  width: 100%;
  height: 3200px;
  background-size: cover;
  background-attachment: fixed;
}

#logo-holder-2{
  position: relative; 
  top: 20px;
  left: 30px;
  width: 240px;
  height: 200px;
  color: $red;
}
.board-member{
  width: 80%;
  height: 10%;
  padding: 10px;
  background-color: rgba(24, 40, 40, 0.6);
  z-index: 1;
  margin-top: 20px;
}

.profile_pic{
  background-image: url("Lauren Cogswell.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic2{
  background-image: url("David Hirschy.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic3{
  background-image: url("cogswell.png");
  height: 160px;
  background-size: cover;
  display: inline-block;
}

.profile_pic4{
  background-image: url("cogswell.png");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic5{
  background-image: url("Allison Collins.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic6{
  background-image: url("Tiffany Tzeng.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}

.profile_pic7{
  background-image: url("Matheus Pereira.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}

.profile_pic8{
  background-image: url("Rachel Fleszar.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic9{
  background-image: url("Yamini Nabar.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic10{
  background-image: url("Yamini Nabar.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}


.profile_pic11{
  background-image: url("Emily Weiss.jpg");
  height: 160px;
  background-size: cover;
  display: inline-block;
}

.info{
  margin-top: 10px;
  display: inline-block;
}
.board-members{
  position: relative;
  z-index: 1;
  left: 7%;
  top: 1%;
  margin: auto;
}

.name{
  color: $red;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.position{
  color: white;
  font-size: 0.8em;
  padding-bottom: 7px;
}

.bio{
  color: white;
  font-size: 0.8em;
}