@font-face{
  font-family: 'Gotham Ultra';
  src:font-url('gotham_ultra.ttf') format('truetype');
}

@font-face{
	font-family: 'Gotham Medium';
  src:font-url('gotham_medium.ttf') format('truetype');
}

@font-face{
  font-family: 'Gotham Bold';
  src:font-url('gotham_bold.ttf') format('truetype');
}