@import 'colors';

#slides
{
  display: inline;
  height: 100%;
  width: 100%;
}

.slidesjs-navigation{
  display: none !important
}

#logo-holder{
  position: absolute; 
  top: 20px;
  left: 30px;
  z-index: 100;
  width: 240px;
  height: 200px;
  color: $red;
}

#sponser-holder{
  position: fixed; 
  bottom: 0px;
  right: 30px;
  z-index: 100;
  width: 240px;
  height: 200px;
  color: $red;
}

#ibr{
  position: fixed; 
  top: 85px;
  left: 30px;
  z-index: 100;
  color: $red;
}

img
{
  background-size: cover;
}

body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
    }

    #slides {
      display: inline;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
      text-align: center;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      list-style: none;
      width: 20%;
      margin: auto auto 3em;
      position: absolute;
      bottom: 100px;
      left: 42%;
      z-index: 100;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 24px;
      height: 0;
      padding-top: 24px;
      background-image: url(pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
      margin-right: 3px;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -24px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -48px
    }

    #slides a:link,
    #slides a:visited {
      color: white;
    }

    #slides a:hover,
    #slides a:active {
      color: white;
    }

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }