@import 'colors';

#issues.index {
  background-image: url('background.jpg');

  .issue-container {
    width: 31.7%;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px;
    background-color: $dark-grey;
    color: white;
    &:hover {
      color: $red;
    }
  }

  .issue-name {
    display: block;
    text-align: center;
    font-size: 16px;
  }

  .reveal-modal {
    background-color: $dark-grey;
    color: white;
  }
}
