@import 'colors';

#issues.index {
  background-image: url('background.jpg');
  
  .logo {
    height: 200px;
    width: 240px;
    margin: 15px 0 0 90px;
  }

  .issue-container {
    width: 31.7%;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px;
    background-color: $dark-grey;
    color: white;
    &:hover {
      color: $red;
    }
  }

  .issue-name {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  .reveal-modal {
    background-color: rgba($dark-grey, .9);
    color: white;
  }

  .reveal-modal .issue-container-modal {
    margin: 0;
    padding-top: 20px;
  }

  .close-reveal-modal {
    color: white;
    font-size: 1.5em;
  }

  .issue-preview-and-purchase {
    text-align: center;
  }

  .purchase-issue-link {
    display: block;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    &:hover {
      border-color: red;
      color: $red;
    }
  }

  .issue-title-modal,
  .issue-name-modal {
    display: block;
    text-align: left;
  }

  .issue-title-modal {
    color: $red;
    font-size: 2.5em;
    font-weight: bold;
  }

  .issue-name-modal {
    font-size: 1.25em;
    font-weight: bold;
  }
}
