@import 'colors';

#image-holder-new-issue{
  background-image: url('huntsman.jpg');
  width: 100%;
  height: 80em;
  background-size: cover;
  background-attachment: fixed;
}

#dark-gray-layer{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

#purchase-title {
  color: $red;
  font-size: 4em;
  font-family: 'Gotham';
  margin: 0 auto;
  text-align: center;
}

#stripe_error{
  background-color: white;
  color: $red;
  font-size: 2em;
}

.errors {
  color: $red;
}

#issue_orders {
    body {
        background-color: #182828;
        color: white;
    }
    .new_issue_order {
        margin: auto;
        text-align: center;
    }
    .text-center {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;

    }
}

.notice {
  color: $red;
  font-size: 5em;
}
