@import 'colors';

#image-holder-login{
  background-image: url('huntsman.jpg');
  width: 100%;
  height: 1000px;
  bacground-size: cover;
  background-attachment: fixed;
  padding-top: 300px;
}

#login{
  background: rgba(50, 50, 50, 0.7);
  margin: auto;
  padding: 10px;
}

#login-header{
  font-size: 5em;
  width: 220px;
  margin: 0 auto;
  color: $red;
}

label {
  color: $red;
  font-size: 2em;
  display: inline;
}

#admin_username{
  width: 20em;
  height: 2em;
  display: inline;
}

#admin_password{
  width: 20em;
  height: 2em;
  display: inline;
}

#submit{
  width: 150px;
  margin: 0 auto;
}

#submit-btn{
  width: 150px;
  font-size: 1.5em;
}

.form-input{
  width: 32em;
  margin: 0 auto;
}
