@import 'colors';

#image-holder-online{
  background-image: url('huntsman.jpg');
  width: 100%;
  height: 1000px;
  bacground-size: cover;
  background-attachment: fixed;
}

#dark-gray-layer{
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000px;
  padding-top: 300px;
}

.column{
  width: 33.3333%;
}

#login-link{
  color: $red;
  font-size: 2em;
  display: inline;
}