@import 'colors';

#black-layer{
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 5% 0; 
}

#post-wrapper{
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
}

#post-title{
  color: $red;
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
  font-family: 'Gotham';
  font-style: bold;
}

#post-author{
  color: $red;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Gotham';
  padding-bottom: 10px;
}

#post-body{
  color: black;
}

/* modal styling */
#modal-content{
  margin-top: 200px;
}

.modal-dialog{
  width: 60%;
}

#post-title-modal{
  color: $red;
  font-size: 4em;
  text-align: center;
  margin: 150px auto 0;
  font-family: 'Gotham';
  font-style: bold;
  line-height: 0.9em;
}