@import 'colors';

#post-form-title{
  text-align: center;
  color: $red;
  font-size: 5em;
}

#new_post{
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}

#new-post {
  color: $red;
  font-size: 2em;
}

.edit_post{
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}

#post_body{
  height: 200px;
}

#post_story_type{
  font-size: 2em;
}

#error_explanation {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  padding-left: 5%;
}

br {
  line-height: 2em;
}

#dark-gray-layer{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
