@import 'colors';
@import 'fonts';

.column {
  width: 40%;
  margin: 0% 5% 12%;
}

#post-index-title {
  color: $red;
  font-family: 'Gotham Ultra';
  font-size: 4.5em;
  text-align: center;
  margin-top: 2%;
}

h2.column-title {
  color: $red;
  font-size: 3em;
}

div.column-title {
  margin-bottom: 3em;
  text-align: center;
}

.column-body {
  margin-top: 3em;
  width: 100%;
}

.story-column {
  float: left;
}

.feature-column {
  float: right;
}

.article-column {
  width: 100%;
  margin-top: 0px;
}

.post-preview {
  margin: 0 auto;
}

.title {
  color: $red;
  font-family: 'Gotham Bold';
  font-size: 2em;
  line-height: 0.9em;
  text-align: center;
}

.author {
  color: $red;
  font-family: 'Gotham Medium';
  font-size: 1.5em;
  text-align: center;
}

.body {
  color: black;
  margin-top: 1em;
  font-size: 1.5em;
}

.edit-delete-post {
  color: $red;
  font-size: 1.2em;
}

a:hover {
  text-decoration: none;
}

.title:hover {
  color: #A9A9A9;
}

.body:hover {
  color: #A9A9A9;
}

.column-image {
  margin-bottom: 1px;
  padding: 25px;
}

.story-image {
  float: left;
}

.feature-image {
  float: right;
}

.modal-image {
  margin: 0 auto;
}
